@charset "UTF-8";
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: laCartoonerie(RUS BY LYAJKA) Regular;
  font-display: swap;
  src: url("../fonts/laCartoonerie(RUS BY LYAJKA) Regular.woff2") format("woff2"), url("../fonts/laCartoonerie(RUS BY LYAJKA) Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: NocturnoBG;
  font-display: swap;
  src: url("../fonts/NocturnoBG-Italic.woff2") format("woff2"), url("../fonts/NocturnoBG-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-BlackItalic.woff2") format("woff2"), url("../fonts/Roboto-BlackItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-BoldItalic.woff2") format("woff2"), url("../fonts/Roboto-BoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Italic.woff2") format("woff2"), url("../fonts/Roboto-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-MediumItalic.woff2") format("woff2"), url("../fonts/Roboto-MediumItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-LightItalic.woff2") format("woff2"), url("../fonts/Roboto-LightItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Thin.woff2") format("woff2"), url("../fonts/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-ThinItalic.woff2") format("woff2"), url("../fonts/Roboto-ThinItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-ExtraBold") format("ttf"), url("../fonts/Lato-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-Medium") format("ttf"), url("../fonts/Lato-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-Bold") format("ttf"), url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
/*
em - от текущего шоифта
% - от родительской ширины
rem - от стиля html
vw – 1% ширины окна
vh – 1% высоты окна
vmin – наименьшее из (vw, vh), в IE9 обозначается vm
vmax – наибольшее из (vw, vh)
*/
.container {
  width: 95vw;
  margin: 0 auto;
}

.main {
  overflow-x: hidden;
}

body {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), #ffffff;
  font-family: "Lato", sans-serif;
}
body header {
  background: radial-gradient(41.72% 84.72% at 41.76% 96.93%, #ffb51b 0%, #ffcd64 100%);
  margin-bottom: 200px;
  padding-bottom: 130px;
}
body header .header_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body header .header_inner-lg {
  width: 8rem;
  height: 6rem;
  background: url(../img/logo.svg) 100% 100% no-repeat;
  background-size: contain;
  margin-bottom: 85px;
}
body header .header_inner-info {
  display: flex;
  width: 95vw;
  justify-content: space-between;
}
body header .header_inner-info-img {
  width: 50vw;
  position: relative;
}
body header .header_inner-info-img-inner {
  position: absolute;
}
body header .header_inner-info-img-inner img {
  width: 45vw;
}
body header .header_inner-info-text {
  width: 45vw;
  display: flex;
  flex-direction: column;
}
body header .header_inner-info-text h1 {
  line-height: 4rem;
  font-weight: 800;
  width: 40vw;
  margin: 60px 0;
  font-size: 4rem;
  color: #ffffff;
}
body header .header_inner-info-text h2 {
  font-weight: 400;
  font-size: 1.93rem;
  margin-top: 0;
  width: 35vw;
  margin-bottom: 60px;
}
body header .header_inner-info-text .header_inner-info-btns {
  display: flex;
  flex-wrap: wrap;
}
body header .header_inner-info-text .header_inner-info-btns-btn {
  margin-right: 24px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 20px -8px rgba(126, 76, 47, 0.6);
  border-radius: 100px;
  padding: 0.9rem 1.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.08em;
}
body header .header_inner-info-text .header_inner-info-btns-btn.btn1 {
  background: #161312;
  color: #fff;
}
body header .header_inner-info-text .header_inner-info-btns-btn.btn2, body header .header_inner-info-text .header_inner-info-btns-btn.btn3 {
  background: #fff;
}
body .container.task {
  width: 100vw;
  margin: 0 auto;
}
body .container.task .task_list-inner {
  display: flex;
  justify-content: center;
  width: 400vw;
}
body .container.task .task_list-inner-item {
  width: 100vw;
  padding: 0 10vw;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .container.task .task_list-inner-item-text {
  width: 30vw;
}
body .container.task .task_list-inner-item-text h2 {
  font-weight: 800;
  font-size: 2.6rem;
}
body .container.task .task_list-inner-item-text h3 {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  font-size: 1.6rem;
}
body .container.task .task_list-inner-item-img img {
  width: 40vw;
}